*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Fauna One", serif;
    font-size: 25px;
}
#top img{
    margin: 40% 5% auto 1.8%;
    position: fixed;
    width: 50px;
}
header{
    background-image: url("https://cdn.futura-sciences.com/buildsv6/images/wide1920/9/4/0/940b22eda6_50170334_code-informatique.jpg");
    background-size: cover;
    height: 80vh;
    font-weight: bold;
    padding: 2.5% 0 5% 5%;
}

#first p{
    color: white;
}
#first li {
    float: right;
    text-shadow: 3px 0px  #131c23;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 7.5%;
    font-size: 412.5%;
}
h1 > small {
    margin-top: 5%;
    display: block;
    color: white;
}
h1 .logo {
    font-size: 230%;
    font-family: "Brush Script MT", cursive;
    width: 200px;
    margin-left: -20px;
    transition: transform 330ms ease-in-out;
}
.logo a{
    text-decoration: none;
}

h2 {
    font-size: 245%;
    margin-top: 140px;
}

h2:after {
    display: block;
    margin: 42px 0;
    content: "";
}

h3 {
    font-weight: bold;
}
a {
    color: white;
}
a:hover,
a:focus {
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
}
#home .vertical-list li{
    transition: transform 330ms ease-in-out;
}
#home .vertical-list li:hover{
    transform: scale(1.5);
}
.vertical-list{
    display: flex;
    justify-content: space-around;
}
.container{
    width: 90%;
}
#about{
    margin-left: 10%;
}

#about .info {
    display: flex;
    flex-direction: row;
    background: beige;
    padding: 2%;

}

#about h2 {
    color: #0d2435;
}

#about h2::after {
    border-bottom: 2px dashed #918d8d;
}

#about .info p {
    line-height: 270%;
}

#about .signature {
    font-family: "Brush Script MT", cursive;
    font-size: 150%;
    color: #0d2435;
    opacity: 0.9;
}
.myself{
    height: 90%;
    margin-left: 5%;
}
#skill-set {
    margin-top: 80px;
    padding-bottom: 80px;
}

#skill-set ul {
    overflow: hidden;
}
#langage-skills {
    background-color: #9d1098;
}
#net-skills {
    background-color: #55acee;
}
#os-skills {
    background-color: #e11a61;
}
#web-skills {
    background-color: #114190;
}
.skills {
    color: white;
}

.skills li {
    padding: 20.4px;
    border: 10px black;
    text-align: center;
}
.cadre{
    max-width: 600px;
    text-align: center;
    margin-bottom: 2%;
    box-shadow: 5px 5px black;

}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: lightcoral;
    padding: 2%;
    margin-left: 3.5%;
    margin-bottom: 2%;
    width: 90%;
}
#portfolio img{
    width: 600px;
}
#portfolio p{
    display: none;
    line-height: 150px;
    background: #9d1098;
    color: white;
    width: 600px;
    height: 338px;
}
#professionel{
    padding: 2%;
background: grey;
    margin-left: 3.5%;
    margin-bottom: 2%;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#professionel p{
    display: none;
    line-height: 35px;
    background: royalblue;
    color: white;
    width: 600px;
    height: 400px;

}
#professionel img{
    width: 600px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #55acee;
    height: 60px;
}
footer img{
    height: 50px;
}